.video2gif-gif {
  background-color: aliceblue;
  width: 640px;
  height: 340px;
  .container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }

  #circle {
    transition: all 0.5s;
  }
}
