.video2gif {
  overflow: hidden;
  background-image: url("../assets/img.png");
  background-size: cover;
  .video2gif-content {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .video2gif-content-right {
      text-align: center;
    }
  }
  div {
    color: #fff;
  }
}
