.video2gif {
  overflow: hidden;
  height: 100vh;
  background-color: #999cff;
  background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
    radial-gradient(at 74% 68%, hsla(235,69%,77%,1) 0px, transparent 50%),
    radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
    radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
    radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
    radial-gradient(at 91% 83%, hsla(283,74%,69%,1) 0px, transparent 50%),
    radial-gradient(at 72% 91%, hsla(213,75%,75%,1) 0px, transparent 50%);

  .video2gif-content {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .video2gif-content-right {
      text-align: center;
    }
  }

  div {
    color: #fff;
  }
}

@media (max-width: 1380px) {
  .video2gif {
    overflow: auto;

    .video2gif-content {
      .video2gif-content-left {
        zoom: 0.75;
      }

      .video2gif-content-right {
        zoom: 0.75;
      }
    }
  }
}

@media (max-width: 1080px) {
  .video2gif {
    overflow: auto;

    .video2gif-content {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      height: 100%;
      overflow: auto;

      .video2gif-content-left {}

      .video2gif-content-right {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 624px) {
  .video2gif {
    overflow: auto;

    .video2gif-content {
      display: flex;
      flex-direction: column;
      height: fit-content;

      .video2gif-content-left {
        zoom: 1;

        .video2gif-video {
          width: 90vw;
          height: 200px;
          margin: 0 auto;
        }

        .video2gif-parameter-label {
          margin-bottom: 10px;
        }
      }

      .video2gif-content-right {
        zoom: 1;

        .video2gif-gif {
          width: 90vw;
          height: 200px;
        }
      }
    }
  }
}