.video2gif-download {
  .video2gif-download-item {
    margin-top: 10px;
    & > .video2gif-button:first-child{
      margin-right: 20px;
    }
    .video2gif-label {
      padding: 10px 10px;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(15px);
      box-shadow: 0 0 10px #fff;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      margin-right: 20px;
      cursor: pointer;
    }
    .video2gif-label:active {
      box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    }
    .video2gif-button {
      display: inline-block;
    }
  }
}
